<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>homepage</title>
<link rel="stylesheet"
 href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
 integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
 crossorigin="anonymous">
</head>
<body> 
<h1> Welcome <span th:text="${input}" th:remove="tag"></span></h1>


<div class="container my-2">
<h1> Home Items</h1>
<hr>
<a th:href="@{/addCategory}" class="btn btn-primary btn-sm mb-3"> AddItems</a>

<table border="1" class= "table table-striped table-responsive-md-3"> 
<thead>
<tr>
 
 <th>ItemCategory </th>
 <th>action</th>
 

<tr/>
</thead>
<tbody>

<tr th:each="item :${categorylist}" > 
<td th:text="${item.catType}"> </td>

 <td><a th:href="@{/Categorylist/{id}(id=${item.catId})}" class="btn btn-primary">Update</a>
 
 <a th:href="@{/delete/{catId}(catId=${item.catId})}" class="btn btn-danger">Delete</a></td>
</tr>
</tbody>
</table>
</div>
</body>
</html>